<div [ngClass]="{ 'display-block': isModalOpen, 'display-none': !isModalOpen }" class="modal">
    <div class="modal-content">
        <span (click)="toggleModalClicked()">&times;</span>
        <div class="main-modal">
            <div>
                <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" alt="" />
            </div>
            <div class="main-content">
                <p class="title">
                    <span class="bold">Title</span> {{ book.volumeInfo.title }}
                </p>
                <p *ngIf="book.volumeInfo.description">
                    <span class="bold">Description</span> {{ book.volumeInfo.description | slice: 0:500 }}...
                </p>
                <p *ngIf="book.volumeInfo.authors">
                    <span class="bold">Author</span> {{ book.volumeInfo.authors[0] }}
                </p>
                <p *ngIf="book.volumeInfo.categories">
                    <span class="bold">Categorie</span> {{ book.volumeInfo.categories[0] }}
                </p>
                <p *ngIf="book.volumeInfo.publishedDate">
                    <span class="bold">Published Date</span> {{ book.volumeInfo.publishedDate }}
                </p>
            </div>
        </div>
        <div class="action-btn">
            <button mat-icon-button color="primary" (click)="addToWishlist()" *ngIf="!existInWishlist; else elseBlock">
        Add to wishlist

        <mat-icon>favorite</mat-icon>
      </button>
            <ng-template #elseBlock>
                <button mat-icon-button color="primary" (click)="removeFromWishlist()">
          Remove from wishlist
        </button>
            </ng-template>
        </div>
    </div>
</div>